@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root { transition: background-color 0.3s ease, color 0.3s ease; }
.dark { background-color: #050810; color: white; }
body { font-family: 'Inter', sans-serif; @apply bg-brand-lightBg dark:bg-brand-black text-slate-900 dark:text-white; }

.glass {
  @apply bg-white/80 dark:bg-brand-navy/80 backdrop-blur-md border-b border-slate-200 dark:border-brand-blue/10;
}