@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #050810;
  color: white;
  color-scheme: dark;
}

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

.glass {
  background: rgba(10, 17, 32, 0.85);
  backdrop-filter: blur(16px);
  border: 1px solid rgba(0, 102, 255, 0.1);
width: 95%;          
  max-width: 1200px;    
  margin: 0 auto;   
}