@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  @apply bg-white dark:bg-[#050810] text-slate-900 dark:text-white transition-colors duration-500;
}

.glass {
  @apply backdrop-blur-xl border-b bg-white/80 dark:bg-[#050810]/80 border-slate-200 dark:border-brand-blue/10;
}

.logo-smart-filter {
  filter: invert(1) hue-rotate(180deg) brightness(1.1);
}